# Build and VS folders
bin/
obj/
.vs/

# User-specific files
*.user
*.suo

# Build result files
*.exe
*.dll
*.pdb

# VS Code/IDE files
*.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Python cache (since你有个mergy.py)
__pycache__/
*.pyc

# JSON settings (optional if contains secrets)
settings.json

all_files.txt
mergy.py

crawl2.py